@charset "UTF-8";

a {
	text-decoration: none;
	color: gray;
}

h1 {
	color: var(--primary-color);
	text-align: center;
	margin: 50px auto;
}

h4 {
	text-align: center;
	margin-top: 20px;
}

#list-container {
	width: 80vw;
	min-width: 400px;
	margin: auto;
}

#list-container>div {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr 2fr 1fr 1fr;
	padding: 15px 10px;
}

#list-container>div {
	font-size: 0.8em;
}

#list-container>div:not(:last-child, :first-child) {
	border-bottom: solid 1px var(--primary-color);
}

#list-container>div:first-child {
	border-top: solid 2px var(--primary-color);
	border-bottom: solid 2px var(--primary-color);
	padding-top: 15px;
}

#list-container>div:first-child>span, 
#list-container>div:hover:not(:first-child)>span>a
	{
	color: var(--primary-color);
}

#list-container>div:hover:not(:first-child)>span>a {
	cursor: pointer;
}

#list-container>div:last-child {
	border-bottom: solid 2px var(--primary-color);
	padding-bottom: 15px;
}

#list-container span {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.title {
	justify-content: flex-start;
}

#page-nav {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin: 20px auto 50px auto;
}