@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap')
	;

:root {
	--primary-color: #09AA5C;
	--black-to-green: brightness(0) saturate(100%) invert(70%) sepia(200%)
		saturate(749%) hue-rotate(75deg) brightness(75%) contrast(89%);
}

* {
	margin: 0;
	padding: 0;
	font-family: "Nanum Gothic Coding", monospace;
	font-weight: 400;
	font-style: normal;
	color: gray;
}

a {
	text-decoration: none;
	color: gray;
}

h1 {
	color: var(--primary-color);
	text-align: center;
	margin: 50px auto;
}

h4 {
	text-align: center;
	margin-top: 20px;
}

#list-container {
	width: 80vw;
	min-width: 400px;
	margin: auto;
}

#list-container>div {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr 2fr 1fr 1fr;
	padding: 15px 10px;
}

#list-container>div {
	font-size: 0.8em;
}

#list-container>div:not(:last-child, :first-child) {
	border-bottom: solid 1px var(--primary-color);
}

#list-container>div:first-child {
	border-top: solid 2px var(--primary-color);
	border-bottom: solid 2px var(--primary-color);
	padding-top: 15px;
}

#list-container>div:first-child>span, 
#list-container>div:hover:not(:first-child)>span>a
	{
	color: var(--primary-color);
}

#list-container>div:hover:not(:first-child)>span>a {
	cursor: pointer;
}

#list-container>div:last-child {
	border-bottom: solid 2px var(--primary-color);
	padding-bottom: 15px;
}

#list-container span {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.title {
	justify-content: flex-start;
}

#page-nav {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin: 20px auto 50px auto;
}